/* --- GENERAL --- */
a {
  color: inherit;
  text-decoration: inherit;
  height: inherit;
}

#content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  align-items: center;
  overflow-y: hidden;
  justify-content: center;
}

/* --- BIGBUTTONS --- */
.ButtonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 40px;
}

.BigButton {
  border-radius: 15px;
  max-width: 150px;
  padding: 20px;
  transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
  height: 207px;
}

.BigButton:hover {
  transform: scale(1.05);
}
