version: "3.9"

services:
  nextjs:
    container_name: SMA-nextjs
    build:
      context: .
      dockerfile: Dockerfile.next
    ports:
      - "4040:3000" # host:container
    env_file:
      - .env
    depends_on:
      - worker

  worker:
    container_name: SMA-worker
    build:
      context: .
      dockerfile: Dockerfile.worker
    ports:
      - "4000:4000"
    env_file:
      - .env
