/* --- GENERAL --- */

html {
  transition: background-image 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center; /* horizontal */
}

#page {
  padding: 30px;
}

#header h1 {
  text-align: center;
  margin: 20px 0;
}

#parametres {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.container {
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.container h2 {
  margin: 0px;
}

.container p {
  margin: 0px;
}

#footer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#footer a {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  border: 1px solid rgb(0, 40, 70);
}

/* --- PRODUCTS --- */

.general-name {
  font-weight: 550;
}

.general-input-number {
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  color: inherit;
  background: rgba(0, 0, 0, 0.11);
  border: none;
  border-radius: 10px;
  appearance: textfield;
}

.general-button {
  width: 100%;
  align-self: center;
  box-sizing: border-box;
  color: inherit;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.11);
  border: none;
  border-radius: 10px;
}

.general-button:hover {
  background: rgba(0, 0, 0, 0.3);
}

/* --- PRODUCTS --- */

.product-input-tri {
  box-sizing: border-box;
  width: 7vh;
  font-size: 16px;
  color: inherit;
  background: rgba(0, 0, 0, 0.11);
  border: none;
  border-radius: 10px;
}

.product-input-name {
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  color: inherit;
  background: rgba(0, 0, 0, 0.11);
  border: none;
  border-radius: 10px;
}

.product-input-price {
  box-sizing: border-box;
  width: 7vh;
  font-size: 16px;
  text-align: right;
  color: inherit;
  background: rgba(0, 0, 0, 0.11);
  border: none;
  border-radius: 10px;
  appearance: textfield;
}

.product-input-button {
  width: 100%;
  align-self: center;
  box-sizing: border-box;
  color: inherit;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.11);
  border: none;
  border-radius: 10px;
}

.product-input-button:hover {
  background: rgba(0, 0, 0, 0.3);
}

.products-table tfoot td {
  color: rgb(255, 236, 202);
  font-size: small;
}

/* --- Calculator Parameters --- */

#parametersContainer .info {
  color: rgb(255, 236, 202);
}

#parameters-form {
  display: flex;
  flex-direction: column;
  justify-content: center; /* horizontal */
}

.parameters-table {
  border-collapse: collapse;
}

.parameters-value .parameters-table {
  border-left: 2px solid rgba(101, 77, 40, 0.2);
}

.parameters-table tr:not(:last-child) {
  border-bottom: 2px solid rgba(101, 77, 40, 0.2);
}

.parameters-key {
  vertical-align: top;
}

.parameters-input-text {
  box-sizing: border-box;
  width: 100%;
  max-width: 193px;
  font-size: 16px;
  color: inherit;
  background: rgba(0, 0, 0, 0.11);
  border: none;
  border-radius: 10px;
}

.parameters-input-number {
  box-sizing: border-box;
  width: 10vh;
  font-size: 16px;
  color: inherit;
  background: rgba(0, 0, 0, 0.11);
  border: none;
  border-radius: 10px;
  appearance: textfield;
}

.parameters-input-boolean {
  accent-color: rgb(178, 110, 46);
  cursor: pointer;
}

#parameters-submit {
  width: 60%;
  min-width: fit-content;
  align-self: center;
  box-sizing: border-box;
  color: inherit;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.11);
  border: none;
  border-radius: 10px;
}

#parameters-submit:hover {
  background: rgba(0, 0, 0, 0.3);
}

/* --- OLD BM CSS --- */

.big_buttons {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden;
  justify-content: center;
}

.big_buttons > div.multiple_buttons_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 40px;
}
.big_buttons > div div.gradient_div {
  padding: 20px;
  border-radius: 15px;
  max-width: 150px;
}

.choices_buttons > div div {
  transform: scale(1);
  transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}
.choices_buttons > div div.zoom:hover {
  transform: scale(1.05);
}

.gradient_button {
  cursor: pointer;
  font-weight: 700;
  font-size: large;
  padding: 14px 26px;
  border-radius: 12px;
}

.parametre input {
  width: 100%;
}

input[type="date"],
input[type="time"] {
  background-color: rgba(255, 255, 255, 0.11);
  border: none;
  color: inherit;
  font-size: large;
  border-radius: 5px;
  cursor: pointer;
  padding: 4px 6px;
}

/* make the native arrow invisible and stretch it over the whole field so you can click anywhere in the input field to trigger the native datepicker*/
input[type="date"]::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23ffffff" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
  padding-right: 5px !important;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 490 490"><path fill="%23ffffff" d="M245,0C109.5,0,0,109.5,0,245s109.5,245,245,245s245-109.5,245-245S380.5,0,245,0z M245,449.3c-112.6,0-204.3-91.7-204.3-204.3S132.4,40.7,245,40.7S449.3,132.4,449.3,245S357.6,449.3,245,449.3z"/><path fill="%23ffffff" d="M290.9,224.1h-25v-95.9c0-11.5-9.4-20.9-20.9-20.9s-20.9,9.4-20.9,20.9V245c0,11.5,9.4,20.9,20.9,20.9h45.9c11.5,0,20.9-9.4,20.9-20.9S302.3,224.1,290.9,224.1z"/></svg>');
  padding-right: 5px !important;
}

.parametre input {
  background: rgba(0, 0, 0, 0.11);
  border: none;
  font-size: large;
  border-radius: 5px;
  padding: 4px 6px;
  color: inherit;
}
