#content {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#form_container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  margin: 40px 0px;
}

#content > h1 {
  margin: 0px;
}

#input_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 2rem;
  border-radius: 16px;
  background-image: linear-gradient(134deg, rgba(85, 0, 150, 1) 0%, rgba(201, 0, 201, 1) 70%, rgb(249, 141, 255) 100%);
}

#input_container > h2 {
  margin: 0px;
}
#input_container > h3 {
  margin: 0px;
  color: rgba(255, 255, 255, 0.9);
}

#input_container > input {
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  color: inherit;
  background: rgba(0, 0, 0, 0.11);
  border: none;
  border-radius: 5px;
  appearance: textfield;
}

#submitButton {
  font-size: inherit;
  font-weight: 600;
  color: inherit;

  border: none;
  border-radius: 15px;
  max-width: 150px;
  padding: 20px;

  background-image: linear-gradient(134deg, rgba(85, 0, 150, 1) 0%, rgba(201, 0, 201, 1) 70%, rgb(249, 141, 255) 100%);
  transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}

#submitButton:hover {
  transform: scale(1.05);
}
