/* --- GENERAL --- */
#content {
  width: 100%;
  min-height: 100%;
}

/* --- BIGBUTTONS --- */
.BigButton {
  border-radius: 15px;
  max-width: 150px;
  padding: 20px;
  transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}

.BigButton:hover {
  transform: scale(1.05);
}

/* --- MarketController --- */
#controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 20px;
  background-image: linear-gradient(111.1deg, rgba(0, 40, 70, 1) -4.8%, rgb(115 228 255) 82.7%, rgb(123 255 183) 97.2%);
}

#controls {
  --button-color: rgba(255, 255, 255, 0.74);
  --button-background: rgba(78, 69, 69, 0.332);
}
